## Notebooks to check

https://www.kaggle.com/foolofatook/starter-eda-cassava-leaf-disease

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten
from tensorflow.keras.layers import Conv2D, MaxPooling2D
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.preprocessing import image
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from sklearn.utils import shuffle
from tqdm import tqdm

In [2]:
!ls

CassavaLeafDiseaseClassification.ipynb	 cassava_mode_ya_pili  prediction.ipynb
cassava_model				 cassava_mode_ya_tatu  prediction.py
cassava_mode_ya_nne.data-00000-of-00002  checkpoint	       __pycache__
cassava_mode_ya_nne.data-00001-of-00002  dataset	       training.py
cassava_mode_ya_nne.index		 myCustomGenerator.py

In [3]:
train = pd.read_csv('dataset/train.csv')

In [4]:
train.shape

(21397, 2)

In [5]:
train.head()

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3

In [6]:
filenames = train['image_id']
filenames

0        1000015157.jpg
1        1000201771.jpg
2         100042118.jpg
3        1000723321.jpg
4        1000812911.jpg
              ...
21392     999068805.jpg
21393     999329392.jpg
21394     999474432.jpg
21395     999616605.jpg
21396     999998473.jpg
Name: image_id, Length: 21397, dtype: object

In [7]:
x = filenames.to_numpy()

In [8]:
y = train['label'].values
y = to_categorical(y)

In [9]:
a,m = shuffle(x,y)

In [10]:
a

array(['3374362215.jpg', '2213112972.jpg', '3387497035.jpg', ...,
       '4079242692.jpg', '979858694.jpg', '2571818236.jpg'], dtype=object)

In [13]:
# kama sql where condition ivi
train.loc[train['image_id'] == '4076735370.jpg']

             image_id  label
17093  4076735370.jpg      2

In [11]:
m

array([[0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.]], dtype=float32)

In [ ]:
#loading the images

train_image = []
for i in tqdm(range(train.shape[0])):
    img = image.load_img('cassava-leaf-disease-classification/train_images/'+train['image_id'][i], 
                         color_mode = 'rgb',target_size=None, interpolation ='nearest')
    img = image.img_to_array(img)
    img = img/255
    train_image.append(img)
X = np.array(train_image)

 12%|█▏        | 2628/21397 [00:31<04:39, 67.05it/s]

In [17]:
#loading the images

train_image = []
for i in tqdm(range(1)):
    img = image.load_img('dataset/train_images/'+train['image_id'][i], 
                         color_mode = 'rgb',target_size=None, interpolation ='nearest')
    img = image.img_to_array(img)
    img = img/255
    train_image.append(img)
X = np.array(train_image)

100%|██████████| 1/1 [00:00<00:00, 57.88it/s]

In [19]:
X.shape

(1, 600, 800, 3)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [ ]:
model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3),activation='relu',input_shape=(28,28,1)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(10, activation='softmax'))

In [ ]:
model.compile(loss='categorical_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
X_test.shape

In [ ]:
y_test.shape